$cyan:    #17a2b8 !default;
$navbar-light-color:                rgba(#17a2b8 , .5) !default;
$navbar-light-hover-color:          rgba(#17a2b8 , .7) !default;
$navbar-light-active-color:         rgba(#17a2b8 , .9) !default;
$navbar-light-disabled-color:       rgba(#17a2b8 , .3) !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: rgba(#17a2b8 , .1) !default;

@import "../node_modules/bootstrap/scss/bootstrap";